.button {
  border: 0.1rem solid var(--ifm-color-primary);
  outline: none;
  border-radius: 0.3rem;

  padding: 0.5rem 1rem;

  background-color: transparent;

  font-size: 1rem;
  font-weight: bold;

  transition: 1s;

  cursor: pointer;
}

.button p {
  margin: 0;
}

.button:hover {
  background-color: var(--ifm-color-primary);
  color: var(--ifm-color-emphasis-0);
}
