.container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-block-start: 5rem;
}

@media (min-width: 997px) {
  .container {
    position: relative;
    inset-inline-start: 15%;
  }
}

.loader {
  inline-size: 6.4rem;
  block-size: 6.4rem;

  border-radius: 50%;

  perspective: 80rem;
}

.inner {
  inline-size: 100%;
  block-size: 100%;

  border-radius: 50%;

  position: absolute;
}

.inner.one {
  border-inline-start: 0.3rem solid var(--ifm-color-content-secondary);

  inset-inline-end: 0;
  inset-block-start: 0;

  animation: rotate-one 1s linear infinite;
}

.inner.two {
  border-inline-end: 0.3rem solid var(--ifm-color-content-secondary);

  inset-inline-start: 0;
  inset-block-start: 0;

  animation: rotate-two 1s linear infinite;
}

.inner.three {
  border-block-start: 0.3rem solid var(--ifm-color-content-secondary);

  inset-inline-start: 0;
  inset-block-end: 0;

  animation: rotate-three 1s linear infinite;
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}
